{deps, 
 [
  {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
  {esupervisor, ".*", {git, "https://github.com/spawngrid/esupervisor.git", {branch, "master"}}},
%  {seresye, ".*", {git, "https://github.com/afiniate/seresye.git", {branch, "master"}}},
   {seresye, ".*", {git, "https://github.com/spawngrid/seresye.git", {branch, "alterline"}}},
   {getopt, ".*", {git, "https://github.com/jcomellas/getopt.git", {branch, "master"}}}
 ]
}.
